---
import Slider from "@components/Slider";
---

<div class="container mb-[125px]">
    <div class="tablet:min-h-[600px] desktop:min-h-[400px] desktop:mb-[60px]">
        <p class="text-subtitle desktop:pb-2">Who we are</p>

        <div class="relative mobile:pt-[12px] mb-[30px] tablet:mb-[80px] desktop:mb-[108px]">
            <h2 class="text-h-2 mobile:mb-[20px]">World’s <span>fastest</span> growing<br>pizza chain</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[165px] desktop:left-[500px]">Dodo Pizza (est 2011) – innovative delivery-focused<br>pizza brand. Dodo Pizza is digital at its core which<br>makes it different from legacy pizza chains.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[138px] tablet:left-[377px]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
            <p class="text-regular tablet:hidden desktop:hidden tablet:absolute tablet:top-[177px] tablet:left-[467px]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
        </div>
    </div>

    <Slider />
</div>
