---
import Slider from "@components/Slider";
---

<div class="container mobile:mb-[9.0625rem] tablet:mb-[7.8125rem] desktop:mb-[7.8125rem]">
    <div class="tablet:min-h-[22.875rem] mobile:mb-10 desktop:min-h-[25rem] desktop:mb-15">
        <p class="text-subtitle tablet:mb-1 desktop:mb-2 mobile:mb-5">Who we are</p>

        <div class="relative mb-[1.875rem] tablet:mb-[5rem] desktop:mb-[6.75rem]">
            <h2 class="text-h-2 mobile:mb-4">World’s <span>fastest</span> growing <br class="mobile:hidden">pizza chain</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[10.3125rem] desktop:left-[31.25rem]">Dodo Pizza (est 2011) – innovative delivery-focused<br>pizza brand. Dodo Pizza is digital at its core which<br>makes it different from legacy pizza chains.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[8.1875rem] tablet:max-w-[30.625rem] tablet:left-[24.75rem]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
            <p class="text-regular tablet:hidden desktop:hidden tablet:absolute tablet:top-[11.0625rem] tablet:left-[29.1875rem] mobile:leading-[1.2]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
        </div>
    </div>

    <Slider />
</div>
