---
import Slider from "@components/Slider";
---

<div class="container mobile:mb-[145px] tablet:mb-[125px] desktop:mb-[125px]">
    <div class="tablet:min-h-[366px] mobile:mb-10 desktop:min-h-[400px] desktop:mb-15">
        <p class="text-subtitle tablet:mb-1 desktop:mb-2 mobile:mb-5">Who we are</p>

        <div class="relative mb-[30px] tablet:mb-[80px] desktop:mb-[108px]">
            <h2 class="text-h-2 mobile:mb-4">World’s <span>fastest</span> growing <br class="mobile:hidden">pizza chain</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[165px] desktop:left-[500px]">Dodo Pizza (est 2011) – innovative delivery-focused<br>pizza brand. Dodo Pizza is digital at its core which<br>makes it different from legacy pizza chains.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[131px] tablet:max-w-[490px] tablet:left-[396px]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
            <p class="text-regular tablet:hidden desktop:hidden tablet:absolute tablet:top-[177px] tablet:left-[467px] mobile:leading-[1.2]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
        </div>
    </div>

    <Slider />
</div>
