---
import Slider from "@components/Slider";
---

<div class="mobile:mb-[6rem] tablet:mb-[7.8125rem] desktop:mb-[7.8125rem]">
    <div class="container tablet:min-h-[22.875rem] mobile:mb-10 desktop:min-h-[25rem] desktop:mb-15">
        <p class="text-subtitle tablet:mb-1 desktop:mb-2 mobile:mb-5">Who we are</p>

        <div class="relative mb-[1.875rem] tablet:mb-[5rem] desktop:mb-[6.75rem]">
            <h2 class="text-h-2 mobile:mb-4">World’s <span>fastest</span> growing <br class="mobile:hidden">pizza chain</h2>
            <p class="text-regular mobile:leading-[1.2] tablet:absolute desktop:absolute desktop:top-[9.8rem] desktop:left-[31.25rem] tablet:top-[7.1875rem] tablet:max-w-[30.625rem] tablet:left-[23.75rem]">We are Dodo Pizza, est 2011 – innovative pizza delivery<br class="mobile:hidden tablet:hidden"> franchise. We are digital at our core and that <br class="mobile:hidden tablet:hidden">makes us different from legacy pizza chains</p>
        </div>
    </div>

    <div class="tablet:container desktop:container">

    </div>
    <Slider client:only/>
</div>
