---
import Slider from "@components/Slider";
---

<div class="container">
    <div class="tablet:min-h-[600px] desktop:min-h-[600px]">
        <p class="text-subtitle">Who we are</p>

        <div class="relative mobile:pt-[12px] mb-[30px] tablet:mb-[80px] desktop:mb-[108px]">
            <h2 class="text-h-2 mobile:mb-[20px]">World’s <span>fastest</span> growing<br>pizza chain</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[136px] desktop:left-[387px]">Dodo Pizza (est 2011) – innovative delivery-focused<br>pizza brand. Dodo Pizza is digital at its core which<br>makes it different from legacy pizza chains.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[177px] tablet:left-[467px]">Dodo Pizza (est 2011) – innovative delivery-<br>focused pizza brand. Dodo Pizza is digital<br>at its core which makes it different from<br>legacy pizza chains.</p>
            <p class="text-regular tablet:hidden desktop:hidden tablet:absolute tablet:top-[177px] tablet:left-[467px]">Dodo Pizza (est 2011) – innovative delivery-focused pizza brand. Dodo Pizza is digital at its core which makes it different from legacy pizza chains.</p>
        </div>
    </div>

    <Slider />

</div>
