---
import dayJs from 'dayjs'
import {Image} from '@astrojs/image/components';

import LiveVideos from "@components/LiveVideos"
import LiveDate from "@components/LiveDate"
import Map from "@components/Map"
import MapMetrics from "@components/MapMetrics"

import logoPmq from "@assets/icons/logopmq.svg";
import logoDodo from "@assets/icons/logo-dodo-black.svg";
import logoDodInline from "@assets/icons/dodo-inline-black.svg";
import clock from "@assets/icons/clock.svg";
import star from "@assets/icons/star.svg";
import employee from "@assets/icons/employee.svg";
import geo from "@assets/icons/geo.svg";
import global from "@assets/icons/global.svg";
import arrowUp from "@assets/icons/arrow-up.svg";
import map from "@assets/images/map-vector.svg";
import mapVideo from "@assets/videos/dodo-map.mp4";
import ellipseViolet from "@assets/images/ellipse-violet.svg";
import ellipseOrange from "@assets/images/ellipse-orange.svg";
import mapDots from "@assets/images/map-dots.png";
import mapDotsOptimised from "@assets/images/map-dots-optimised.svg";

// <Image src={map} alt="map" class="absolute object-cover w-full h-full"/>
---

<script>

</script>


<section class="mobile:mb-[4rem] tablet:mb-[8.125rem] desktop:mb-[12rem]" id="test">
    <div class="box container tablet:min-h-[11rem] desktop:min-h-[20rem] tablet:mb-[5rem]">
        <div class="relative mobile:pt-3 mb-7 ">
            <p class="text-subtitle hidden">Tech</p>
            <h2 class="text-h-2 mobile:mb-[0.6rem] desktop:leading-custom">Data makes every move transparent
            </h2>

            <p class="text-regular block tablet:absolute desktop:absolute tablet:top-[7.3rem] tablet:left-[26.5625rem] desktop:top-[8.9rem] desktop:left-[33.4375rem] desktop:max-w-[53rem]">
                Dodo IS collects the data from the whole system, processes it and shows real-time reports and forecasts to take data-based timely decisions.
            </p>
        </div>
    </div>

    <MapMetrics client:only="react" />


    <div class="container box">
        <div
            class="flex mobile:gap-3 tablet:gap-9 desktop:gap-6 mobile:flex-col-reverse mobile:border-l mobile:pl-8">
            <div class="w-[3.875rem] tablet:w-[5.1875rem] desktop:w-[9.5625rem] shrink-0">
                <Image src={logoPmq} alt="Logo PMQ" class="object-contain w-full" format="webp" />
            </div>
            <div class="mobile:hidden tablet:w-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] desktop:mt-2.5 bg-black"></div>
            <p class="text-regular-2 mobile:text-[1.6rem] tablet:text-4xl tracking-tightest desktop:ml-[1.75rem] desktop:leading-custom">Fedor Ovchinnikov <br class="">[CEO and Founder] <br class="desktop:hidden">of  Dodo Pizza <br class="mobile:hidden">
                may be <br class="desktop:hidden">the Steve Jobs of pizza</p>
        </div>
    </div>
</section>

<!--<Map client:only="react" />-->
