---
import { Image } from '@astrojs/image/components';

import logoBloomberg from "@assets/icons/logo-bloomberg.svg";
import logoRestaurantLeadership from "@assets/icons/logo-restaurant-leadership.svg";
import Chart from "@components/Chart";
---

<section class="container mb-[15.5625rem]">
    <div class="flex mobile:gap-[0.75rem] tablet:gap-[2.625rem] desktop:gap-[3.5rem] mb-10 mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[6.4375rem] tablet:w-[8.125rem] desktop:w-[12.0625rem]">
            <Image src={logoBloomberg} alt="Logog bloomberg" class="object-contain w-full desktop:mt-3"/>
        </div>
        <div class="mobile:hidden tablet:w-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] bg-black desktop:mb-4 desktop:mt-2.5"></div>
        <p class="text-regular-2 tracking-tightest tablet:-ml-2 mobile:max-w-[11.25rem] mobile:leading-[1.15]">Dodo Pizza has turned into<br class="mobile:hidden">one of the fastest-growing<br>restaurant chains</p>
    </div>

    <div class="mobile:mb-10">
        <Chart client:load/>
    </div>

    <div class="flex mobile:gap-[0.75rem] tablet:gap-[1.625rem] desktop:gap-[3.375rem] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4 tablet:hidden">
        <div class="w-[6.4375rem] tablet:w-[8.125rem] desktop:w-[12.0625rem] desktop:mt-[0.875rem]">
            <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full"/>
        </div>
        <div class="mobile:hidden tablet:h-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] bg-black desktop:mb-4 desktop:mt-2.5"></div>
        <p class="text-regular-2 tracking-tightest">Industry’s first truly digital-first concept,<br>with technology figuring into all aspects<br>of operations</p>
    </div>
</section>
