---
import { Image } from '@astrojs/image/components';

import logoBloomberg from "@assets/icons/logo-bloomberg.svg";
import logoRestaurantLeadership from "@assets/icons/logo-restaurant-leadership.svg";
import Chart from "@components/Chart";
---

<section class="container mb-[249px]">
    <div class="flex mobile:gap-[12px] tablet:gap-[42px] desktop:gap-[56px] mb-10 mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[103px] tablet:w-[130px] desktop:w-[193px]">
            <Image src={logoBloomberg} alt="Logog bloomberg" class="object-contain w-full desktop:mt-3"/>
        </div>
        <div class="mobile:hidden tablet:w-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black desktop:mb-4 desktop:mt-2.5"></div>
        <p class="text-regular-2 tracking-tightest tablet:-ml-2">Dodo Pizza has turned into<br>one of the fastest-growing<br>restaurant chains</p>
    </div>

    <div class="">
        <Chart client:load/>
    </div>

    <div class="flex mobile:gap-[12px] tablet:gap-[26px] desktop:gap-[54px] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4 tablet:hidden">
        <div class="w-[103px] tablet:w-[130px] desktop:w-[193px] desktop:mt-[14px]">
            <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full"/>
        </div>
        <div class="mobile:hidden tablet:h-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black desktop:mb-4 desktop:mt-2.5"></div>
        <p class="text-regular-2 tracking-tightest">Industry’s first truly digital-first concept,<br>with technology figuring into all aspects<br>of operations</p>
    </div>
</section>
