---

import dodoLogo from "@assets/icons/logo-dodo-black.svg";
import map from "@assets/images/map.svg";
---


<section class="container mb-40">
    <div class="tablet:min-h-[600px] desktop:min-h-[400px]">
        <p class="text-subtitle">Franchise</p>

        <div class="relative mobile:pt-3 mb-8 tablet:mb-20 desktop:mb-[108px]">
            <h2 class="text-h-2 mb-8 mobile:mb-6">We are looking for <span>strong partners</span></h2>

            <p class="text-regular desktop:block desktop:absolute desktop:top-[178px] desktop:left-[377px]">Target regions: Middle East, Africa, Asia, <br class="tablet:hidden">and South America.</p>
        </div>
    </div>


    <div class="relative flex bg-gray rounded-xl  pb-5 pt-[110px] desktop:px-8 desktop:pt-[180px] desktop:pb-[86px] tablet:px-4 tablet:pt-[100px] tablet:pb-[86px] mobile:flex-col mobile:px-5  mobile:gap-4">
        <div class="absolute top-5 left-5 w-[117px] tablet:w-[170px] desktop:w-[254px] tablet:top-6 tablet:left-6 desktop:top-10 desktop:left-10">
            <img src={dodoLogo} alt="Dodo logo"/>
        </div>

        <div class="flex w-full gap-10 desktop:items-center tablet:items-center">

            <div class="flex flex-col items-center gap-4">
                <p class="text-regular-3 hidden mobile:block">Franchise terms</p>
                <div class="shrink-0 w-[130px] tablet:w-[211px] desktop:w-[313px]">
                    <img src={map} alt="map"/>
                </div>
            </div>


            <div class="flex flex-col grow gap-6">
                <p class="text-regular-3 mobile:hidden">Franchise terms</p>

                <div class="flex justify-between gap-4 mobile:flex-col">
                    <div>
                        <p class="text-3xl desktop:text-6xl tablet:text-4xl">$150 000</p>
                        <p class="text-unit-title">country fee</p>
                    </div>

                    <div>
                        <p class="text-3xl desktop:text-6xl tablet:text-4xl">5%</p>
                        <p class="text-unit-title">country fee</p>
                    </div>

                    <div>
                        <p class="text-3xl desktop:text-6xl tablet:text-4xl">$5000</p>
                        <p class="text-unit-title">per store fee</p>
                    </div>
                </div>

                <p class="text-regular-3 mobile:hidden">We have no other fees. Tech is part of our franchise package along with full operational support. <a href="#">More details here.</a></p>
            </div>
        </div>

        <p class="text-regular-3 hidden mobile:block mobile:text-xl">We have no other fees. Tech is part of our franchise package along with full operational support. <a href="#">More details here.</a></p>
    </div>

</section>
