---
import Reels from "@components/Reels"
---

<section class="container mobile:mb-[7.25rem] tablet:mb-[12.5625rem] desktop:mb-[13.875rem]">
    <div class="mb-[3.875rem] tablet:mb-[6.25rem] desktop:mb-[8rem]">
        <p class="text-subtitle mobile:mb-[0.875rem] desktop:mb-2.5">Lovebrand</p>

        <div class="relative">
            <h2 class="text-h-2 mobile:leading-custom"><span>Digitalisation</span> allowed<br class="mobile:hidden tablet:hidden"> us to build a brand loved in every country</h2>
        </div>
    </div>

    <Reels client:load />

    <div class="flex mobile:flex-col gap-5 tablet:gap-6 desktop:gap-[13rem] mt-20">
        <div class="flex-1">
            <p class="text-regular tablet:text-3xl tablet:leading-custom">Digits can tell what people want and tech provides that. <span>We made a mass pizza brand personalized</span> and ultimately responsive to feedback and slightest changes in customer satisfaction. </p>
        </div>

        <div class="flex-1 desktop:grow-[2]">
            <p class="text-regular-2 mobile:text-xl">Characteristics of a small non-scalable brand became available to a brand <span>used by millions of clients.</span></p>
        </div>
    </div>
</section>
