---
import { Image } from '@astrojs/image/components';

import clientPath from "@assets/images/store-path.png";
---

<div class="container">
    <div class="tablet:min-h-[600px] desktop:min-h-[600px]">
        <p class="text-subtitle">Tech</p>

        <div class="relative mobile:pt-[12px] mb-[30px] tablet:mb-[30px] desktop:mb-[250px]">
            <h2 class="text-h-2 hidden desktop:block">We <span>digitalised</span> every process<br>in pizza business</h2>
            <h2 class="text-h-2 mobile:mb-[20px] desktop:hidden">We <span>digitalised</span> every <br>process in pizza<br>business</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[176px] desktop:left-[687px]">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management<span>.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[233px] tablet:left-[307px]">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management</p>
            <p class="text-regular tablet:hidden desktop:hidden">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management</p>
        </div>
    </div>
</div>

<div class="mb-[120px]">
    <Image src={clientPath} format="webp" alt="client path" class="object-cover w-full h-full" />

    <div class="container"></div>
</div>
