---
import { Image } from '@astrojs/image/components';

import clientPath from "@assets/images/store-path.png";
---

<div class="container">
    <div class="tablet:min-h-[460px] desktop:min-h-[527px]">
        <p class="text-subtitle mobile:mb-[21px] desktop:mb-[9px]">Tech</p>

        <div class="relative mb-[30px] tablet:mb-[30px] desktop:mb-[250px]">
            <h2 class="text-h-2 hidden desktop:block table:mb-2">We <span>digitalised</span> every process<br>in pizza business</h2>
            <h2 class="text-h-2 mobile:mb-5 desktop:hidden">We <span>digitalised</span> every <br class="mobile:hidden">process in pizza<br class="mobile:hidden">business</h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[156px] desktop:left-[717px] desktop:max-w-[550px]">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management<span>.</p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[238px] tablet:left-[324px] tablet:max-w-[510px]">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management</p>
            <p class="text-regular tablet:hidden desktop:hidden">Dodo IS, our own cloud-based tech platform covers everything from ordering to delivery, production and <span>data-driven chain management</p>
        </div>
    </div>
</div>

<div class="mb-9 tablet:mb-[195px] desktop:mb-[112px] mobile:min-h-[550px]">
    <Image src={clientPath} format="webp" alt="client path" class="object-cover w-full h-full" />

    <div class="container"></div>
</div>
