---
import team from "@assets/images/team-example.png";
import logoRestaurantLeadership from "../../assets/icons/logo-restaurant-leadership.svg";
---

<div class="container flex desktop:items-center gap-10 mb-[120px] mobile:flex-col">
    <div class="flex flex-col flex-1">
        <p class="text-regular-2 tablet:mb-10 ">
            Everything ready<br class="mobile:hidden tablet:hidden"> since day one and free<br class="mobile:hidden tablet:hidden"> for franchisees.<br class="mobile:hidden tablet:hidden"> Improved, developed<br class="mobile:hidden tablet:hidden"> and supported<br class="mobile:hidden tablet:hidden"> <span>by our team 24/7</span>
        </p>

        <div class="flex mobile:hidden desktop:hidden mobile:gap-[12px] tablet:gap-[26px] desktop:gap-[60px] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
            <div class="w-[103px] tablet:w-[130px] desktop:w-[193px]">
                <img src={logoRestaurantLeadership} class="object-contain w-full h-full"/>
            </div>
            <div class="mobile:hidden tablet:h-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black"></div>
            <p class="text-regular">Industry’s first truly digital-first concept,<br>with technology figuring into all aspects<br>of operations</p>
        </div>
    </div>

    <div class="relative max-w-[680px] mobile:min-h-[480px] rounded-xl overflow-hidden flex-1 min-h-[600px]">
        <img src={team} class="absolute object-cover w-full h-full" />
    </div>

    <div class="flex tablet:hidden desktop:hidden mobile:gap-[12px] tablet:gap-[26px] desktop:gap-[60px] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[103px] tablet:w-[130px] desktop:w-[193px]">
            <img src={logoRestaurantLeadership} class="object-contain w-full h-full"/>
        </div>
        <div class="mobile:hidden tablet:h-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black"></div>
        <p class="text-regular">Industry’s first truly digital-first concept,<br>with technology figuring into all aspects<br>of operations</p>
    </div>
</div>
