---
import { Image } from '@astrojs/image/components';

import team from "@assets/images/team-example.png";
import logoRestaurantLeadership from "@assets/icons/logo-restaurant-leadership.svg";
import dodoIs from "@assets/videos/dodo-is.webm";
// <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>

---

<section class="container flex mobile:mb-4 desktop:items-center tablet:mb-[157px] tablet:gap-[10.5rem] desktop:gap-10 desktop:mb-[300px] mobile:flex-col">
    <div class="flex flex-col desktop:flex-1 tablet:pt-10">
        <p class="text-regular-2 mobile:text-[26px] mobile:mb-8 desktop:leading-custom tablet:mb-20 desktop:-mt-20">
            Everything ready<br class="mobile:hidden tablet:hidden"> since day one and free<br class="mobile:hidden tablet:hidden"> for franchisees.<br class="mobile:hidden tablet:hidden"> Improved, developed<br class="mobile:hidden tablet:hidden"> and supported<br class="mobile:hidden tablet:hidden"> <span>by our team 24/7</span>
        </p>

        <div class="flex mobile:hidden desktop:hidden mobile:gap-[12px] tablet:gap-[28px] desktop:gap-[60px] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
            <div class="w-[103px] tablet:w-[160px] desktop:w-[193px]">
                <Image src={logoRestaurantLeadership}  alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>
            </div>
            <div class="mobile:hidden tablet:h-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black"></div>
            <p class="tablet:text-4xl desktop:text-3xl tablet:leading-custom">Industry’s first truly digital-first concept,<br class="tablet:hidden">with technology figuring into all aspects<br class="tablet:hidden">of operations</p>
        </div>
    </div>

    <div class="relative mobile:mb-10 desktop:max-w-[680px] mobile:max-h-[480px] tablet:min-w-[322px]  rounded-xl overflow-hidden desktop:flex-1 tablet:max-h-[480px] desktop:max-h-[710px]">
        <video class="min-h-full min-w-full object-cover scale-[1.15]" loop autoPlay muted playsInline >
            <source src={dodoIs} type="video/webm"/>
        </video>
    </div>

    <div class="flex tablet:hidden desktop:hidden mobile:gap-[12px] tablet:gap-[26px] desktop:gap-[60px] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[120px] tablet:w-[162px] desktop:w-[193px]">
            <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>
        </div>
        <div class="mobile:hidden tablet:h-[1px] tablet:max-w-[230px] desktop:w-[1px] bg-black"></div>
        <p class="text-regular mobile:text-2xl">Industry’s first truly digital-first concept,with technology figuring into all aspects of operations</p>
    </div>
</section>
