@font-face {
  font-family: "Factor A Medium";
  src: url("../assets/fonts/factor-a/Factor A-Light-Web.woff2");
}

@font-face {
  font-family: "Factor A Regular";
  src: url("../assets/fonts/factor-a/Factor A-Regular-Web.woff2");
}

.text-main {
  @apply font-regular text-4xl tablet:text-7xl desktop:text-20xl text-white;
}

.text-sub-main {
  @apply font-regular text-3xl tablet:text-3xl desktop:text-6xl;

  strong {
    @apply text-accent-orange;
  }
}

.text-extra {
  @apply font-regular text-[60px] tablet:text-[3.75rem] desktop:text-[3.75rem];

  span {
    @apply text-accent-orange;
  }
}

.text-h-1 {
  @apply font-regular text-5xl tablet:text-7xl desktop:text-7xl;

  strong {
    @apply text-accent-orange;
  }
}

.text-h-2 {
  @apply font-regular text-5xl tablet:text-7xl desktop:text-8xl tracking-tighter;

  span {
    @apply text-accent-orange;
  }
}

.text-subtitle {
  @apply font-regular text-accent-orange text-xs tablet:text-base desktop:text-base tracking-widest uppercase;
}

.text-stories-title {
  @apply leading-none font-light text-white text-[120px];

  span {
    @apply leading-none font-light text-white text-[80px];
  }
}

.text-stories-subtitle {
  @apply leading-none font-light text-white text-[46px];
}

.text-legend {
  @apply font-regular text-xs tablet:text-base desktop:text-base tracking-widest;
}

.text-regular {
  @apply font-regular text-xl tablet:text-4xl desktop:text-4xl tracking-tighter;

  span {
    @apply text-accent-orange;
  }
}

.text-regular-2 {
  @apply font-regular text-3xl tablet:text-3xl desktop:text-[3.75rem];

  span {
    @apply text-accent-orange;
  }
}

.text-accent{
  @apply font-regular text-2xl tablet:text-6xl desktop:text-6xl tracking-tighter;
}

.text-button{
  @apply font-regular text-3xl tablet:text-3xl desktop:text-4xl;
}

.text-input-label{
  @apply font-regular text-base tablet:text-base desktop:text-base tracking-widest;
}
